:root {
  --hover-color: #5e81fe;
  --svg-color: #b6bac7;
  --svg-hover-color: #6188ff;
  --bg-button: #d2e1ff;
  --header-button-text-color: #3a79ff;
  --text-color: #697ca6;
  --selection-text-color: #3d4f9f;
  --second-text-color: #8d96bd;
  --svg-spon-color: #d6dae5;
  --svg-spon-hover-color: #5982e7;
  --button-bg: #4c85ff;
  --section-bg: #f5f8ff;
  --about-svg-color: #4074f8;
  --svg-bg: #f1f5ff;
  --third-text-color: #adb3cb;
}

body {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 936px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */

.header {
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 80px;
  align-items: center;
}

.header-circle {
  width: 26px;
  height: 26px;
  border-radius: 50px;
  background: var(--hover-color);
}

.header-list {
  display: flex;
  margin-left: 73px;
}

.header-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: var(--text-color);
  text-shadow: 0px 0px 5px #e6e6e6;
}

.header-item:not(:first-child) {
  margin-left: 42px;
  padding: 0;
}

.header-item:hover {
  color: var(--hover-color);
}

.social-list {
  margin-left: 361px;
  display: flex;
}

.social-item {
  fill: var(--svg-color);
}

.social-item:hover {
  fill: var(--svg-hover-color);
}

.social-item:not(:first-child) {
  margin-left: 38px;
}

.social-item:hover {
  fill: var(--svg-hover-color);
}

.header-button {
  width: 113px;
  height: 43px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 44px;
  background: var(--bg-button);
}

.header-button-text {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: var(--header-button-text-color);
}

/* Introdaction */

.introdaction-section {
  background-color: black;
  height: 570px;
  background: url(./images/header3.png), url(./images/header2.png), linear-gradient(180deg, #f4f7ff 0%, #f1f5ff 100%);
  background-repeat: no-repeat;
  background-size: 1584px 570px;
}

.speed-svg{
  width: 35px;
  height: 36px;
}

.speed-container{
  width: 92px;
  height: 64px;
  background-color: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 520px;
  top: 480px;
}

.introdaction-over-text {
  text-align: center;
  padding-top: 92px;
  color: var(--selection-text-color);
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.global-title {
  text-align: center;
  color: var(--selection-text-color);
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  padding-top: 16px;
}

.global-title-part {
  font-weight: 700;
}

.introdaction-under-text {
  text-align: center;
  color: var(--second-text-color);
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  padding-top: 28px;
}

.play-button {
  width: 52px;
  height: 52px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 50px;
}

.play-svg {
  fill: var(--hover-color);
  position: absolute;
  width: 10px;
  height: 11px;
  left: 788px;
  top: 417px;
}

/* Sponsors */

.sponsors-section {
  height: 145px;
  display: flex;
  justify-content: center;
}

.sponsors-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsors-item {
  fill: var(--svg-spon-color);
}

.sponsors-item:hover {
  fill: var(--svg-spon-hover-color);
}

.sponsors-item:not(:first-child) {
  margin-left: 76.5px;
}

/* Plan and manage */
.manage-section {
  background-color: var(--section-bg);
}

.manage-over-text {
  padding-top: 208px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--selection-text-color);
}

.manage-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: var(--selection-text-color);
  margin-top: 27px;
}

.manage-text {
  width: 413px;
  margin-top: 27px;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.manage-buttons {
  display: flex;
  margin-top: 47px;
  padding-bottom: 216px;
}

.video-button {
  width: 130px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-bg);
  border: none;
  box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
}

.video-button-text {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}

.manage-svg {
  margin-left: 6px;
  margin-top: 3px;
}

.features-button {
  width: 130px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d1d1e4;
  background: none;
}

.features-button-text {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #adb4d2;
}

.manage-photo {
  position: absolute;
  top: 915px;
  right: 48px;
}

/* Information about us */

.about-section {
  text-align: center;
}

.about-under-text {
  padding-top: 171px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--selection-text-color);
}

.about-title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--selection-text-color);
}

.about-list {
  margin-top: 92px;
  display: flex;
  justify-content: center;
}

.app-item {
  width: 140px;
  height: 254px;
  text-align: center;
}

.app-item:not(:first-child) {
  margin-left: 67px;
}

.app-svg {
  stroke: var(--about-svg-color);
  stroke-width: 2.5px;
  fill: none;
}

.svg-bg {
  background: var(--svg-bg);
  margin-left: auto;
  margin-right: auto;
  width: 69px;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.app-title {
  margin-top: 33px;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  color: var(--about-svg-color);
}

.app-text {
  margin-top: 25px;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  color: var(--third-text-color);
}

.about-button-list {
  margin-top: 92px;
  display: flex;
  justify-content: center;
  padding-bottom: 171px;
}

.ab-item:not(:first-child) {
  margin-left: 48px;
}

.more-button {
  width: 113px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffd7d7;
  border-radius: 2px;
  border: none;
}

.more-button span {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #d43f3f;
}

.ab-item:not(:first-child):not(:last-child) {
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  color: var(--third-text-color);
  margin-top: auto;
  margin-bottom: auto;
}

.start-button {
  width: 113px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d2e1ff;
  border-radius: 2px;
  border: none;
}

.start-button span {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #3a79ff;
}

/* Customers */

.customers-list {
  display: flex;
  height: 342px;
}

.customers-item:first-child {
  width: 50%;
  padding-right: 90px;
  padding-top: 67px;
  background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
  text-align: right;
}

.customers-item:last-child {
  width: 50%;
  background: linear-gradient(101.48deg, #e9efff 41.56%, #e0e9ff 81.53%);
  padding-left: 90px;
  padding-top: 67px;
}

/* .customers-svg {
  display: block;
  margin-left: auto;
  margin-right: 90px;
} */

.customers-statistic {
  font-weight: 400;
  font-size: 48px;
  line-height: 83px;
  letter-spacing: 0.03em;
  color: #fff;
}

.percent {
  color: #fff;
}

.count {
  color: #5e80ff;
}

.customers-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.03em;
}

/* Our blog */

.blog-section {
  background-color: var(--section-bg);
  text-align: center;
  height: 865px;
}

.blog-over-text {
  padding-top: 104px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--selection-text-color);
}

.blog-title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--selection-text-color);
}

.blog-container {
  margin-top: 92px;
  width: 958px;
  height: 394px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border: 1px solid #d8e3fe;
  box-shadow: 0px 15px 50px #eff4ff;
}

.blog-list {
  display: flex;
  padding-top: 64px;
  padding-left: 35px;
}

.blog-item:not(:first-child):not(:last-child) {
  margin-left: 13px;
}

.blog-item:last-child {
  margin-left: 67px;
  text-align: left;
}

.blog-item-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: var(--selection-text-color);
}

.blog-item-text {
  margin-top: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8d96bd;
}

.blog-under-list {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.blog-under-item:not(:first-child) {
  margin-left: 25px;
}

.blog-button {
  width: 113px;
  height: 43px;
  background: #d2e1ff;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.blog-button span {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #3a79ff;
}

.under-list-text {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #a6b6da;
}

.search-svg {
  fill: #a7aac6;
}

.blog-svg-container {
  position: relative;
  left: 136px;
  bottom: 165px;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50px;
}

.blog-svg-container:hover .search-svg {
  fill: #3a79ff;
}

/* Customers quotes */

.quotes-section {
  padding-top: 110px;
  padding-bottom: 110px;
  background: linear-gradient(180deg, #eaf0ff 0%, #f6f9ff 100%);
}

.quotes-list {
  display: flex;
  padding-left: 276px;
}

.quotes-under-text {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d4f9f;
}

.quotes-title {
  margin-top: 31px;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #3d4f9f;
}

.quotes-text {
  margin-top: 14px;
  font-weight: 600;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #a4abc8;
}

.quotes-item:not(:first-child) {
  margin-left: 130px;
}

.quotes-block {
  width: 423px;
  height: 175px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 41px;
  background: #fff;
}

.block-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #676f95;
}

.block-image {
  position: relative;
  left: 110px;
}

/* Start now */

.start-section {
  padding-top: 72px;
  padding-bottom: 56px;
  text-align: center;
  background: url(./images/start-bg2.png),
    linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
}

.start-under-text {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}

.start-title {
  margin-top: 16px;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  color: #fff;
}

.start-title-part {
  font-weight: 900;
}

.start-text {
  margin-top: 28px;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #fff;
}

.start-button-list {
  display: flex;
  margin-top: 35px;
  justify-content: center;
}

.first-start-button {
  width: 130px;
  height: 43px;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0px 5px 15px #6480e8;
  border: none;
}

.first-start-button span {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #565f82;
}

.second-start-button {
  width: 155px;
  height: 43px;
  border: 1px solid #a0b4ff;
  background: none;
}

.second-start-button span {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #c7d3ff;
}

/* Sign up */

.sign-section {
  padding-top: 118px;
  padding-bottom: 118px;
  border-bottom: 1px solid #d2e1ff;
}

.sign-list {
  display: flex;
  justify-content: center;
}

.sign-item:not(:first-child) {
  margin-left: 80px;
}

.sign-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #3d4f9f;
}

.sign-text {
  margin-top: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8d96bd;
}

.email-input {
  width: 279px;
  height: 59px;
  padding-left: 23px;
  background: #efeff7;
  border-radius: 5px;
  border: none;
  margin-top: 19px;
}

.email-input::placeholder {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #7a85ad;
}

.email-input:focus-within{
  outline: 3px solid #6480e8;
}

/* .email-input:focus-within .email-input::placeholder{
  color: #3a79ff;
  transform: translate(30px);
} */

.sign-button {
  margin-top: 18px;
  margin-left: 14px;
  width: 184px;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4d6ce1;
  box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
  border-radius: 5px;
  border: none;
}

.sign-button span {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}

/* Footer */
.footer {
  padding-top: 90px;
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 80px;
  align-items: center;
}

.header-circle {
  width: 26px;
  height: 26px;
  border-radius: 50px;
  background: var(--hover-color);
}

.header-list {
  display: flex;
  margin-left: 73px;
}

.header-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: var(--text-color);
  text-shadow: 0px 0px 5px #e6e6e6;
}

.header-item:not(:first-child) {
  margin-left: 42px;
  padding: 0;
}

.header-item:hover {
  color: var(--hover-color);
}

.social-list {
  margin-left: 361px;
  display: flex;
}

.social-item {
  fill: var(--svg-color);
}

.social-item:hover {
  fill: var(--svg-hover-color);
}

.social-item:not(:first-child) {
  margin-left: 38px;
}

.social-item:hover {
  fill: var(--svg-hover-color);
}

.header-button {
  width: 113px;
  height: 43px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 44px;
  background: var(--bg-button);
}

.header-button-text {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: var(--header-button-text-color);
}

.last {
  margin-top: 45px;
  margin-left: 95px;
  padding-bottom: 90px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #aeb8d0;
}
